<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
@* CSS *@
<style>
    * {
        color: cyan;
    }

    body {
        background-color: black;
    }

    h1 {
        color: cornsilk;
    }

    .btn {
        height: 30px;
        width: 100px;
        border: 3px solid floralwhite;
        background-color: lavenderblush;
        font-family: Arial, Helvetica, sans-serif;
        color: maroon;
        margin: 20px;
        box-shadow: 5px 10px 5px floralwhite;
        cursor: pointer;
    }

    .btn:active {
        transform: translateY(4px);
    }

    #logreg{
       display: flex;
       justify-content: space-around;
    }

    .center{
        text-align: center;
    }

    .inp{
        color: midnightblue;
    }

    h2{
        color: mintcream;
    }

    h3{
        color: mistyrose;
        font-style: italic;
    }

    h4{
        color: oldlace;
        font-style: italic;
    }

    p{
        color: powderblue;
    }

    .links{
        color: royalblue;
        cursor: pointer;
    }
</style>

<body>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>