<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Player.Name's Base</title>
</head>
<body>
    <div class="center">
        <p>The cave is empty. There's nothing but your inventory and a little nest on the ground for you to rest in.</p>
        <hr/>
        <p><a href="/inventory">Check Inventory</a></p>
        <p>Rest</p>
        <p>Go Outside</p>
    </div>
</body>
</html>