<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dinner</title>
</head>
<body>
    <p>You offer your Raw Meat to the @ViewBag.Player.Species. It seems pleasantly surprised by this, ears twitching and tail swaying.</p>

    <p>"Oh, would you share? How darling! Thank you, dear."</p>

    <p>That night, you don't speak much; however, you manage to listen to daring tales. The life of a @ViewBag.Player.Species. It both excites and intrigues you. You feel both nervous and fascinated by what you may be able to do now. The things you'll experience yourself.</p>

    <p>By the time you're ready to leave, your tummy is full and your heart is lighter than before.</p>
    
    <a href="/homebase"><p>Go Back Home</p></a>
</body>
</html>