<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gratitude</title>
</head>
<body>
    <p>The wall shakes and opens up to a hidden cave. In absolute awe, you pad forward, ears moving with your head as you gaze around at the beautiful minerals in the stone around you. The ground is rough against your feet, but you feel no pain.</p>

    <p>You feel no greed overcome you. No desire to take these minerals for material goods. Nothing but pure bliss and admiration.</p>

    <p>That's something you're thankful of. The ability to take joy in the little things.</p>

    <p>You spend the night there before preparing for the journey back home.</p>

    <a href="/homebase"><p>Travel back home</p></a>
</body>
</html>