<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Helping Hands</title>
</head>
<body>
    <p>You nod in the affirmative, taking the Healing Salve and carefully applying it to the lion's wounds with your paws, making sure not to accidentally scratch.</p>

    <p>The lion is appreciative of your help. You spend the time swapping stories. Sleeping together for the night, he's feeling mighty better by the time you two awaken.</p>
    
    <p>He offers to carry you home. His larger stature will certainly cover more ground than if you took yourself.</p>

    <a href="/homebase"><p>Accept help</p></a>
</body>
</html>