<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Player.Name's Inventory</title>
</head>
<body>
    <h1><u>Inventory</u></h1>
    @foreach (var item in ViewBag.Player.Inventory)
    {
       <p><a href="">* @item.Title</a></p>
    }
    <hr/>
    <a href="/homebase">Back</a>
</body>
</html>