<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Player.Name's Inventory</title>
</head>
<body>
    <p>* Raw Meat</p>
    <p>* Necklace</p>
    <p>* Healing Salve</p>
    <a href="/homebase">Back</a>
</body>
</html>