<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@Model.Title</title>
</head>
<body>
    @model Item
    <h1>@Model.Title</h1>
    <p><i>@Model.Description</i></p>
    <a href="/inventory"><p>Back</p></a>
</body>
</html>