<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mountains</title>
</head>
<body>
    <p>You head off for the mountains. This is the longest journey you've ever been on.</p>

    <p>The ground beneath your paws are jagged and rough. The air only gets colder the higher you get.</p>

    <p>It takes months before you find another creature. It's a mountain lion, and it's hurt.</p>

    <p>"Ah.. hello, little one. Would you... happen to have anything to help..?"</p>

    <a href="/applysalve"><p>Offer Healing Salve to help</p></a>
</body>
</html>