<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plains</title>
</head>
<body>
    <p>You start walking towards the plains, your soft paws soon tickled by the grass beneath you. However, as you stray further and further from your homebase, you start to see a figure in the distance. The closer you get, the smaller and more clear it gets, to the point where you can make out that it's a fellow @ViewBag.Player.Species. Pleasantly surprised, you go up to the, the smaller animal turning to you.</p>

    <p>"Oh..! Hello, traveler. It's a pleasure to see you... It's awful lonely out here. Er, I don't have any food to offer you, though. I sincerely apologize for that."</p>

    <center><a href="/givefood"><p>Offer Food</p></a></center>
</body>
</html>