<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Woods</title>
</head>
<body>
    <p>You journey deep into the woods, knowing not of what you'll find. Even as the land around you grows ever more darker by the minute, you push forward, excited for your next discovery. Your next adventure.</p>

    <p>Throughout this time, you take the time to enjoy the flora and fauna, wondering if you'd technically count as part of the fauna now. That puts a lot of philosophical thoughts through your head to get you through the long trek.</p>

    <p>You come across a stone wall with a peculiar shape in front of you. It looks to be the same as your necklace.</p>

    <p>Picking up your necklace with your mouth, you stretch up onto your hind legs and carefully push the otherwise worthless jewelry into place.</p>

    <a href="/usenecklace"><p>Make sure it's steady</p></a>
</body>
</html>