<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Don't trust him</title>
</head>
<body>
    <div class="center">
        <h2>Suddenly, the voice is gone. You're surrounded by darkness.</h2>
        <h2>Just as you start to think you've been abandoned in this void, you feel your body tingling all over. You're getting shorter and shorter by the minute. As you shrink, the tingling sensation is followed by the sudden realization that you're growing fur at what you'd assume to be a freakishly fast rate.</h2>
        <h2>Looking down at yourself, you realize that you have become a @ViewBag.Player.Species.</h2>
        <h2>And then the darkness lifts, leaving you in a cave with nobody around. The only trace that someone might have been here was the small pouch in front of you. Upon opening it with your new mouth, you find a small gathering of items left behind, presumably for you.</h2>
        <h3>Items obtained!</h3>
        <h4>* 1 Raw Meat</h4>
        <h4>* 1 Necklace</h4>
        <h4>* 1 Healing Salve</h4>
        <a href="/homebase"><button class="btn">Look Around</button></a>
    </div>
</body>
</html>