<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration & Login</title>
</head>
<body>
    <div id="logreg">
        <h1>Registration</h1>
        <partial name="_Registration.cshtml" />
        <h1>Login</h1>
        <partial name="_Login.cshtml" />
    </div>
    <hr />
    <h1>Roadmap</h1>
    <ol>
        <li>Email verification system for forgotten passwords and usernames</li>
        <li><i>Actually flesh out the game's content</i></li>
    </ol>
</body>

</html>